XHTTP H3 cannot be proxied by nginx server

### Integrity requirements

- [x] I confirm that I have read the documentation, understand the meaning of all the configuration items I wrote, and did not pile up seemingly useful options or default values.
- [x] I provided the complete config and logs, rather than just providing the truncated parts based on my own judgment.
- [x] I searched issues and did not find any similar issues.
- [x] The problem can be successfully reproduced in the latest Release

### Description

basic flow: Xray client (XHTTP+TLS+H3) [!FAIL!] -> [!FAIL!] Nginx (TLS decode + H3)  -> Xray Server (XHTTP)

I tested with Haproxy (3.1) and Nginx (1.28.0), build with openssl 3.5.0 or quictls 3.3.0.
I tested with curl (HTTP3), openssl (3.2.0), and browser, to make sure haproxy/nginx is able to serve http3 content (accept HTTP REQ and send RSP via H3).
It looks like the connection failed at TLS handshake when xray client try to connect nginx h3 server.

log from nginx attached below.
asking chatgpt, it says there needs to be:
```
&tls.Config{
    NextProtos: []string{"h3"},
}
```
And it looks like https://github.com/XTLS/Xray-core/blob/922ae98a4ad133fe8d421fc2da551f92baed9ed9/transport/internet/splithttp/dialer.go#L163 does not have it (I could be wrong)
chatgpt also suggest that current xray code might be compatible with http3 draft 29, but not with http3 offcial rfc9114.

For haproxy, even H2 does not get through (haproxy frontend mode http), because haproxy has more strict checks for HTTP Request, and recognize xray's xhttp connection as "BAD REQ".
If xray's XHTTP can be proxied by Haproxy, it can take advantage of the haproxy's QUIC BBR congestion control. Whereas nginx currently support CUBIC for QUIC. (Both better than default new Reno of quic-go)
Edit:
I just did a test, and xray client making H3 connection to CF also doesn't work.
flow: 
       xray xhttp client (H3) -> (H3) CF (H2) -> (H2) nginx -> xray server
       xray xhttp client (H3) [!FAIL!] <- [!FAIL!] (H3) CF (H2) <- (H2) nginx <- xray server

### Reproduction Method

Xray client (XHTTP+TLS+H3) -> Nginx (TLS decode + H3) -> Xray Server (XHTTP)

### Client config

<details><pre><code>

        "security": "tls",
        "tlsSettings": {
          "fingerprint": "edge",
          "serverName": "h3.host.com",
          "alpn": ["h3"],
          "minVersion": "1.3",
          "maxVersion": "1.3"
        },
        "network": "xhttp",
        "xhttpSettings": {
          "mode": "auto",
          "host": "h3.host.com",
          "path": "/xray-xhttp/",
          "noGRPCHeader": true,
</code></pre></details>

### Server config

nginx config:

<details><pre><code>
server {
    listen                  [::]:443 quic ipv6only=off;

    location /xray-xhttp {
        proxy_pass                          http://unix:/dev/shm/xrayInXHttp.socket;
    
        proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;
        proxy_http_version                  1.1;
        proxy_request_buffering             off;
        proxy_redirect                      off;
    
        proxy_read_timeout                  5m;
        proxy_send_timeout                  5m;
        proxy_socket_keepalive              on;
    }
    ssl_certificate            /etc/ssl/domains/default/cert.pem;
    ssl_certificate_key     /etc/ssl/domains/default/privkey.pem;
}
</code></pre></details>

### Client log

<details><pre><code>
2025/04/26 18:20:28.275854 [Info] [3134730367] transport/internet/splithttp: XHTTP is dialing to udp:1.2.3.4:443, mode packet-up, HTTP version 3, host h3.test.com
2025/04/26 18:20:28.276403 [Info] [3134730367] transport/internet/splithttp: XHTTP is downloading from udp:1.2.3.4:443, mode stream-down, HTTP version 3, host h3.test.com
2025/04/26 18:20:28.418479 [Info] [2679253649] proxy/socks: TCP Connect request to tcp:edge.microsoft.com:443
transport/internet/splithttp: failed to GET https://h3.test.com/xray-xhttp/x000xxx-xxxx-xxxx-xxxx-xxxx00sxx > Get "https://h3.test.com/xray-xhttp/x000xxx-xxxx-xxxx-xxxx-xxxx00sxx": timeout: no recent network activity
</code></pre></details>

### Server log

Nginx server log:
<details><pre><code>
2025/04/26 10:20:41 [debug] 50345#50345: epoll timer: 5605
2025/04/26 10:20:45 [debug] 50346#50346: timer delta: 3992
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer del: 14: 428590597
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic pto timer
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic pto init pto_count:2
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic sendto init packet max:1200 min:0
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic frame tx init:8 PING
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic packet tx init bytes:3 need_ack:0 number:8 encoded nl:1 trunc:0x8
2025/04/26 10:20:45 [debug] 50346#50346: *18 sendmsg: 49 of 49
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic congestion send if:4037
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic lost timer pto:0
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer add: 14: 0:428590601
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic sendto init packet max:1200 min:0
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic frame tx init:9 PING
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic packet tx init bytes:3 need_ack:0 number:9 encoded nl:1 trunc:0x9
2025/04/26 10:20:45 [debug] 50346#50346: *18 sendmsg: 49 of 49
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic congestion send if:4086
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer del: 14: 428590601
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic lost timer pto:0
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer add: 14: 0:428590601
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic pto hs pto_count:2
2025/04/26 10:20:45 [debug] 50346#50346: *18 posix_memalign: 0000000001DA1D30:512 @16
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic sendto hs packet max:1200 min:0
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic frame tx hs:14 PING
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic packet tx hs bytes:3 need_ack:0 number:14 encoded nl:1 trunc:0xe
2025/04/26 10:20:45 [debug] 50346#50346: *18 sendmsg: 48 of 48
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic congestion send if:4134
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer del: 14: 428590601
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic lost timer pto:3988
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer add: 14: 3988:428594589
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic sendto hs packet max:1200 min:0
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic frame tx hs:15 PING
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic packet tx hs bytes:3 need_ack:0 number:15 encoded nl:1 trunc:0xf
2025/04/26 10:20:45 [debug] 50346#50346: *18 sendmsg: 48 of 48
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic congestion send if:4182
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer del: 14: 428594589
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic lost timer pto:3988
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer add: 14: 3988:428594589
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer del: 14: 428594589
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic lost timer pto:7976
2025/04/26 10:20:45 [debug] 50346#50346: *18 event timer add: 14: 7976:428598577
2025/04/26 10:20:45 [debug] 50346#50346: *18 quic state: send:57817 pto:7976 close:52817
2025/04/26 10:20:45 [debug] 50346#50346: worker cycle
2025/04/26 10:20:45 [debug] 50346#50346: epoll timer: 1954
2025/04/26 10:20:47 [debug] 50346#50346: timer delta: 1957
</code></pre></details>

模板不完整
XHTTP3 nginx 有人在用 不太可能有问题

看在你打了这么多字我也稍微看一下吧
你列出的第一个问题来源于utls 它会覆盖掉手动输入的alpn 虽然允许手动覆盖回去但是rprx觉得这样不安全所以 以前我也argue过但是rprx并没有改主意 把fingerprint设置成unsafe禁用utls就没问题了 XHTTP1也有点弃子了 因为为了照顾XHTTP2/3的体验XHTTP禁用了mux.cool导致没有mux的h1很尴尬
至于第二个 这个我不清楚 http3支持来源于quic-go 你可能得问一下他们 或者再等个一年的样子兴许有golang自带的http3了 这个我们没办法

> 看在你打了这么多字我也稍微看一下吧 你列出的第一个问题来源于utls 它会覆盖掉手动输入的alpn 虽然允许手动覆盖回去但是rprx觉得这样不安全所以就一直这样了 以前我也argue过但是rprx并没有改主意 把fingerprint设置成unsafe禁用utls就没问题了 XHTTP1也有点弃子了 因为为了照顾XHTTP2/3的体验XHTTP禁用了mux.cool导致没有mux的h1很尴尬 至于第二个 这个我不清楚 http3支持来源于quic-go 你可能得问一下他们 或者再等个一年的样子兴许有golang自带的http3了 这个我们没办法

quic-go 早已支持alpn h3。现在是xray的代码需要较小的修改，以支持alpn h3。

> 较小的修改

那么久了我没听说过h3-29 现在我没看出来有多大问题 之前抓包好像也都是正常的h3 如果你知道的话pr welcome

根据chatgpt....

> > 较小的修改
> 
> 那么久了我没听说过h3-29 现在我没看出来有多大问题 之前抓包好像也都是正常的h3 如果你知道的话pr welcome

H3-29是RFC draft/草稿。从nginx/haproxy和各种支持quic的ssl lib的最新版看，都取消了对h3-29的支持。这个问题是确实存在的。如果你不愿意修改代码，至少re-open issue。你可以推给RPRX看下，看他怎么想。

https://datatracker.ietf.org/doc/draft-ietf-quic-qlog-h3-events/

https://quic-go.net/docs/ 这里可以看到quic-go支持正式的RFC：[RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000), [RFC 9001](https://datatracker.ietf.org/doc/html/rfc9001), [RFC 9002](https://datatracker.ietf.org/doc/html/rfc9002) [RFC 9114](https://datatracker.ietf.org/doc/html/rfc9114)



> 根据chatgpt....

https://quic-go.net/docs/ 这里可以看到quic-go支持正式的RFC：[RFC 9000](https://datatracker.ietf.org/doc/html/rfc9000), [RFC 9001](https://datatracker.ietf.org/doc/html/rfc9001), [RFC 9002](https://datatracker.ietf.org/doc/html/rfc9002) [RFC 9114](https://datatracker.ietf.org/doc/html/rfc9114)
可以证实quic-go已经支持alpn h3

quic-go 的 h3 应该默认就是 alpn h3，你可以抓包看一下，并且它连接 Nginx 应该不存在问题，否则早就有报告了

> quic-go 的 h3 应该默认就是 alpn h3，你可以抓包看一下，并且它连接 Nginx 应该不存在问题，否则早就有报告了

xray的代码我没研究过，而且我本身不会golang。我看了一下，大概问题很可能是这两行：
https://github.com/XTLS/Xray-core/blob/aa4134f4a675db90bc58f34999551627fad9b00a/transport/internet/splithttp/dialer.go#L109
https://github.com/XTLS/Xray-core/blob/aa4134f4a675db90bc58f34999551627fad9b00a/transport/internet/splithttp/dialer.go#L124
上面这两行都没把 GetTLSConfig 需要的 c.NextProtocol 信息 pass 给 GetTLSConfig ，于是tls.Config.NextProtos就不是h3
https://github.com/XTLS/Xray-core/blob/aa4134f4a675db90bc58f34999551627fad9b00a/transport/internet/tls/config.go#L345 
https://github.com/XTLS/Xray-core/blob/aa4134f4a675db90bc58f34999551627fad9b00a/transport/internet/tls/config.go#L372

我用xray客户端http3 连接 nginx，和curl --alpn h3-29 连接nginx，这两个情况下，nginx的error.log是几乎完全一样的。
而且用 curl --alpn h3-29 测试CF能通、测试nginx不通，这个情况和xray http3的表现也完全一样。

代码很复杂你是分析不完的，有很多默认行为，alpn 是不是 h3 抓包看一下不就行了？我用 WireShark 看了是 h3

```
Extension: application_layer_protocol_negotiation (len=5)
    Type: application_layer_protocol_negotiation (16)
    Length: 5
    ALPN Extension Length: 3
    ALPN Protocol
        ALPN string length: 2
        ALPN Next Protocol: h3
```

> ```
> Extension: application_layer_protocol_negotiation (len=5)
>     Type: application_layer_protocol_negotiation (16)
>     Length: 5
>     ALPN Extension Length: 3
>     ALPN Protocol
>         ALPN string length: 2
>         ALPN Next Protocol: h3
> ```

我前面测试用的是 [Xray-core v25.3.31](https://github.com/XTLS/Xray-core/releases/tag/v25.3.31) 
刚刚用action里面最新的 window 7 64 测试了一下，已经可以正常跟nginx http3 ssl 握手了。不知道这两个版本中间是哪里修复的，也许是quic-go，也许xray的哪个commit，懒得找了。

> 我前面测试用的是 [Xray-core v25.3.31](https://github.com/XTLS/Xray-core/releases/tag/v25.3.31)

我测试的也是这个版本，我倾向于是你之前自己的 Nginx 配置或哪里搞错了，后来你改来改去的给改通了，而不是 Xray 代码的问题

不信的话你现在再用 v25.3.31 XHTTP/3 连接 Nginx 试试，应该也是能通的

v25.3.31 之后可疑的 commit 就这两个 https://github.com/XTLS/Xray-core/commit/7a2f42f8d5f6fc8b347c6a2b06808421bd934868 https://github.com/XTLS/Xray-core/commit/800b33c626202c7741ef08919d85bbf2e1a9bf9c

> > v25.3.31 之后可疑的 commit 就这两个 [7a2f42f](https://github.com/XTLS/Xray-core/commit/7a2f42f8d5f6fc8b347c6a2b06808421bd934868) [800b33c](https://github.com/XTLS/Xray-core/commit/800b33c626202c7741ef08919d85bbf2e1a9bf9c)
> 
> 但是还是连不上nginx。原因还是跟http/1.1一样，nginx解码h3 ssl后看到的客户端可用alpn是[h2,http/1.1]，而不是h3。 这太尴尬了。

都给你说了 WireShark 看 v25.3.31 是 h3，你还说 h2, http/1.1，唉我无语了，https://github.com/XTLS/Xray-core/issues/4652#issuecomment-2832425968