Suggestion on REALITY Authentication

In short: Although there is currently no practical attack, the authentication scheme in REALITY protocol could improved by switching to more standard cryptographic constructions.

I am concerned about REALTY's authentication strength. In REALITY protocol, a long term x25519 public key is used as the credential for authentication, i.e. a server confirms the client's identity by checking whether the secret derived opens the AEAD'ed data in SessionID.
First, the usage of x25519 is different from the standard ECDH, and might have different security requirements. I am concerned that it is not guaranteed to be as secure as the alternatives, e.g., ed25519 (as in SSHv2), or private key based x25519 authentication (as in WireGuard®).
For example, according to the [RFC7748, Section 6.1](https://datatracker.ietf.org/doc/html/rfc7748#section-6.1), a x25519 function "MAY check, without leaking extra information about the value of K, whether K is the all-zero value and abort if so". Since the check is not enforced as per the standard, suppose an implementation of REALITY has messed up and does not check for the x25519 secret. A malicious client is to probe whether a server is running REALITY. It could force an all-zero shared secret by sending a low-order point, i.e., one from [libsodium](https://github.com/jedisct1/libsodium/blob/cec56d867f741e66f78b9fde37d9081643599a2a/src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c#L21) as an ephemeral public key. In such case, the server will derive a x25519 secret of all zeros and derive a AEAD key that is clear to the malicious client, hence accepting the connection, if the ShortId was guessed correctly. This is not of an issue per the current implementation, and will probably not be an issue for a third party implementation as the check is done in almost every x25519 provider in practice. However, I still consider this as a showcase how x25519 is not designed with public key based authentication in mind, and so the security is not guaranteed.

Second, REALITY uses non key-committing AEADs to authenticate the HMAC'ed keys. The current choice of AEADs, AES-256-GCM and ChaCha20-Poly1305, does not ensure key-commitment, i.e., the difficulty for an adversary to construct messages that decrypt successfully, without knowing the key. In fact, [it was shown](https://www.usenix.org/system/files/sec21-len.pdf) that it is possible to identify the key at a significant higher rate than brute-forcing using a decryption oracle, which a REALITY server is - edit: In fact, it is not, as only a single ciphertext decrypts into the desired plaintext.

(RPRX, please be kind if I said anything wrong or my concern is invalid. 我没有开小号，也没有用 LLM 生成以上内容)

@Cl-He-O 感觉纯放屁

"suppose an implementation of REALITY has messed up" 是个啥理由 总不能RSA加密的时候实现可能有问题导致生成的大素数pq来自某个更小子集就说某个使用RSA方案有问题吧 这个有问题的keyshare也会被先丢到dest然后估计会被dest的tls实现拒掉 甚至到不了reality这一关
至于后面的论文提到的这个神谕攻击也不成立 它也就说了要求 不知道你细看过这篇文章没有

> efficiently craft ciphertexts that successfully decrypt
> under a large number of potential keys

这个条件完全不成立 large number of potential keys 根本就不存在 执行身份验证的隐藏共享秘密在每次TLS连接中有且只有一个 一旦失败下次又是新的 根本没有执行这种攻击的前提 这个场景只可能出现在vmess/ss(不包括2022)且有超级多用户的情况下(有且仅有机场) 

> "suppose an implementation of REALITY has messed up" 是个啥理由，总不能RSA加密的时候实现可能有问题导致生成的大素数pq来自某个更小子集就说某个使用RSA方案有问题吧，是他们的实现问题，类似的你还能把每一环的 Security Considerations 都拉出来说一遍，而且这个有问题的keyshare也会被先丢到dest然后估计会被dest的tls实现拒掉，甚至到不了reality这一关。

这里我的意思是安全的 ECDH 库被 REALITY 使用可能产生问题。dest 我确实不是很清楚，我以为会先认证再转发给 dest。
我可能是过分担忧了。

> 至于后面的论文提到的这个神谕攻击也不成立 它也就说了要求 不知道你细看过这篇文章没有
> 
> > efficiently craft ciphertexts that successfully decrypt
> > under a large number of potential keys
> 
> 这个条件完全不成立 large number of potential keys 根本就不存在 执行身份验证的隐藏共享秘密在每次TLS连接中有且只有一个，一旦失败下次又是新的，根本没有执行这种攻击的前提。这个场景只可能出现在vmess/ss(不包括2022)且有超级多用户的情况下(估计只有机场)

这里的 'large number of potential keys' 是指所有能够成功解密这个 ciphertext 的 keys，而不一定是真的 key。论文的意思是能通过这个 ciphertext 有没有被成功解密得知真的 key 有没有在这些 potential keys 中。
如果发送同一个 random 和 keyshare 多次，多个连接可以出现同一个 AuthKey。
但即使能猜出 AuthKey 还有 HMAC 和 x25519 需要逆向。
再一次，我可能是过分担忧了（

先说第一点吧，REALITY 验证 Client Hello 与 target 构造 Server Hello 是同时进行的，但凡有一方出错就会导致直接双向对拷

当然最关键的还是，如果某个密码学函数在某个语言的实现本身有问题，则并非 REALITY 的设计问题

**不过我认为你提出这一点还是有价值的，可以把“对客户端公钥的预检”作为 REALITY 服务端明确的安全要求，在自己的代码中就检查**

第二点我看了下你的意思应该是攻击者想在没有客户端 password (public key) 的情况下构造出一个能被 REALITY 服务端成功解密的 session id，这成功的概率基本为 0，如果 REALITY 服务端还开了验证时间戳则可以说就是 0，即使成功了也就只是能用上 REALITY

如果你的意思是攻击者的目的是解密别人的流量，则这个攻击方向就是错的，**因为 REALITY 是 ECDHE，与验证身份的 authKey 无关**

还有我有印象第一点我好像看到过，忘了是看 Golang x25519 的代码看到过还是有别人说过，好像是前者

我又想了下 curve25519 的 Basepoint，把它放进 Client Hello key_share，此时 authKey 就是 REALITY public key，仍需知道才能连上

如果攻击者把 Basepoint 放进 Server Hello key_share，没 REALITY private key 就无法伪造服务端自签证书，和普通 MITM 的困境相同

https://github.com/XTLS/Xray-core/issues/4458 这个奇葩 issue 咋整个都没了，也没显示是谁删的

Audit log 也没有任何相关信息

Anyway，我终于发现我有厌蠢症，或者说，长期以来被大量傻逼逼出来的厌蠢症

我最近都没空管 Xray，但是看到傻逼言论，高低要去喷死他，真的是受不了一点，智商不够可以安静看着，不要出来浪费别人的时间

我知道为什么了，https://github.com/gaungap 也 404 了，且这个 username 仍是被占状态，应该是有人举报他，然后他被封号了

~~如果 GitHub 能看懂我们在讨论什么，说明 GitHub 员工也用 REALITY？~~

我发现 @gaungap 这傻逼还给 [XHTTP: Beyond REALITY](https://github.com/XTLS/Xray-core/discussions/4113) 点了个踩，要不要这么搞笑，就是说 XHTTP 跟他的“分析”有半毛钱关系吗

画龙点睛之笔了属于是，自己给自己盖章认证的“我是傻逼”